/* fonts -----------------------------------------------------------------------------------------*/
@font-face {
    font-family: Icons;
    font-display: block;
    font-style: normal;
    font-weight: 300;
    src: url(../font/icons.woff2) format("woff2");
}
@font-face {
    font-family: IconsSolid;
    font-display: block;
    font-style: normal;
    font-weight: 900;
    src: url(../font/iconssolid.woff2) format("woff2");
}
@font-face {
    font-family: TextRegular;
    font-style: normal;
    font-weight: 400;
    src: url(../font/textregular.woff2) format("woff2");
}
@font-face {
    font-family: TextSemiBold;
    font-style: normal;
    font-weight: 600;
    src: url(../font/textsemibold.woff2) format("woff2");
}
.fal {
    font-family: Icons;
    font-weight: 300;
    font-style: normal;
    font-size: 18px;
    line-height: 28px;
    width: 28px;
    margin-right: 16px;
    text-align: center;
}
/* fonts -----------------------------------------------------------------------------------------*/

/* icons -----------------------------------------------------------------------------------------*/
.fa-arrow-circle-left:before {
    content:"\f0a8"
}
.fa-heart:before {
    content:"\f004"
}
.fa-home-lg-alt:before {
    content:"\f80c"
}
.fa-hourglass:before {
    content:"\f254"
}
.fa-leaf:before {
    content:"\f06c"
}
.fa-pen-alt:before {
    content:"\f305"
}
.fa-question-circle:before {
    content:"\f059"
}
.fa-tachometer-fast:before {
    content:"\f62a"
}
.fa-tooth:before {
    content:"\f5c9"
}
/* icons -----------------------------------------------------------------------------------------*/