/* main ------------------------------------------------------------------------------------------*/
* {
    border: 0;
    box-sizing: border-box;
    float: left;
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
    width: 100%;
}
body {
    background: #F6F8FA;
    font-family: 'TextRegular', sans-serif;
}
:focus {
    outline: none;
    box-shadow: none;
}
/* main ------------------------------------------------------------------------------------------*/

/* iframe ----------------------------------------------------------------------------------------*/
iframe {
    height: 100%;
    left: 224px;
    position: absolute;
    transition: all .15s ease;
    width: calc(100% - 224px);
}
/* navigation ------------------------------------------------------------------------------------*/
#sidebar {
    background: #FFF;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.12), 0 0 0 1px #DCE0E8;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    position: absolute;
    transition: all .15s ease;
    width: 224px;
    z-index: 999;
}
#sidebar div {
    box-shadow: inset 0 1px 0 0 #DCE0E8;
    padding: 12px 12px 0;
    width: 100%;
}
#sidebar div:first-of-type {
    box-shadow: none;
}
#sidebar div a {
    color: #44546C;
    font-size: 15px;
    line-height: 40px;
    text-decoration: none;
    width: 100%;
    border-radius: 8px;
    margin: 0 0 12px;
    overflow: hidden;
    height: 40px;
}
#sidebar div a:hover, #sidebar div a:focus {
    color: #0F2A51;
    background: #F6F8FA;
    font-weight: 600;
}
#sidebar div a:hover i, #sidebar div a:focus i {
    font-family: IconsSolid;
}
#sidebar i {
    font-size: 20px;
    width: 40px;
    margin-right: 8px;
    text-align: center;
    pointer-events: none;
}
.active #sidebar {
    width: 64px;
}
.active iframe {
    left: 64px;
    width: calc(100% - 64px);
}
.logo {
    margin-top: 24px;
    cursor: pointer;
    background: url(../img/menu-b.svg);
    width: 128px;
    height: 48px;
}
.active .logo {
    background: url(../img/menu-a.svg);
}
/* navigation ------------------------------------------------------------------------------------*/

.active .company {
    display: none;
}
#sidebar div.company {
    background: #F6F8FA;
    box-shadow: 0 0 0 1px #DCE0E8;
    padding-bottom: 16px;
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 12.5px;
    line-height: 20px;
    font-weight: 600;
    color: #0F2A51;
    width: 224px;
}
@media (max-height: 768px){
#sidebar div.company {
        position: relative;
    }
}
.submenu {
    left: 0px;
    background: #FFF;
    box-shadow: 0 0 0 1px #DCE0E8;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    position: absolute;
    transition: all .15s ease;
    width: 256px;
    z-index: 998;
    left: -256px;
}
.submenu div {
    box-shadow: inset 0 1px 0 0 #DCE0E8;
    padding: 12px;
    width: 100%;
}
.submenu div:first-of-type {
    box-shadow: none;
}
.submenu div a {
    border-radius: 8px;
    color: #44546C;
    font-size: 15px;
    line-height: 24px;
    padding: 8px;
    text-decoration: none;
    width: 100%;
}
#user div a:hover {
    background-color: #009DDB;
    font-weight: 600;
    color: #FFF;
}
#ramos div a:hover {
    background-color: #FCCC68;
    font-weight: 600;
    color: #FFF;
}
#prev div a:hover {
    background-color: #E8B078;
    font-weight: 600;
    color: #FFF;
}
#saude div a:hover {
    background-color: #009DDB;
    font-weight: 600;
    color: #FFF;
}
#vida div a:hover {
    background-color: #F86060;
    font-weight: 600;
    color: #FFF;
}
#odonto div a:hover {
    background-color: #00985C;
    font-weight: 600;
    color: #FFF;
}
nav.open {
    left: 64px;
}
a.open {
    color: #FFF !important;
}
.open i {
    font-family: IconsSolid !important;
}
#ra.open {
    background-color: #FCCC68 !important;
}
#pr.open {
    background-color: #E8B078 !important;
}
#sa.open {
    background-color: #009DDB !important;
}
#vi.open {
    background-color: #F86060 !important;
}
#od.open {
    background-color: #00985C !important;
}
#us.open {
    background-color: #009DDB !important;
}